<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:postgresql://localhost:5432/quiz</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">root</property>

        <property name="dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>

        <property name="hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>

        <mapping class="am.aca.quiz.software.entity.ScoreEntity"/>
        <mapping class="am.aca.quiz.software.entity.UserEntity"/>
        <mapping class="am.aca.quiz.software.entity.HistoryEntity"/>
        <mapping class="am.aca.quiz.software.entity.SubCategoryEntity"/>
        <mapping class="am.aca.quiz.software.entity.TopicEntity"/>
        <mapping class="am.aca.quiz.software.entity.CategoryEntity"/>
        <mapping class="am.aca.quiz.software.entity.QuestionEntity"/>
        <mapping class="am.aca.quiz.software.entity.AnswerEntity"/>
        <mapping class="am.aca.quiz.software.entity.TestEntity"/>

    </session-factory>
</hibernate-configuration>