

.profile{
    box-sizing: border-box;
    max-width: 380px;
    padding-top: 40px;

    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #222;

    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
    text-align: center;

    position: relative;
    z-index: 0;
    overflow: hidden;
}

.profile:before{
    content: "";
    width: 85px;
    height: 50px;

    transition: transform .5s cubic-bezier(0.42, 0.04, 0.13, 0.92);
    border-radius: 50%;
    background-color: #7B1FA2;

    position: absolute;
    top: -70px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%) scale(7);
}

.profile:hover:before{
    transition: transform .7s cubic-bezier(0.66, 0.09, 0, 1.31);
    transform: translateX(-50%) translateY(200%) scale(25);
}

.profile:hover, .profile:hover .profile__value, .profile:hover .profile__social{
    color: #fff;
}

.profile:hover .profile__group, .profile:hover .profile__avatar{
    border-color: #fff;
}

.profile:hover .profile__stats{
    background-color: #690394;
}

.profile__header{
    transition: color .4s ease-out .1s;
}

.profile__avatar{
    border-radius: 50%;
    width: 120px;
    height: 120px;

    border: 6px solid #7B1FA2;
    transition: border-color .4s ease-out .1s;
}

.profile:hover .profile__avatar{
    transition-delay: .2s;
}

.profile__name{
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 30px;
}

.profile__stats{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-top: 25px;
    margin-bottom: 25px;

    background-color: #f0f0f0;
    padding-top: 25px;
    padding-bottom: 25px;
    transition: background-color .4s ease-out .1s;
}

.profile:hover .profile__stats{
    transition-delay: .2s;
}

.profile__group{
    box-sizing: border-box;
    width: 33.3333333%;
    transition: border-color .4s ease-out .1s;

    border-right: 1px solid #BDBDBD;
    padding-left: 2%;
    padding-right: 2%;
}

profile:hover .profile__group{
    transition-delay: .4s;
}

.profile__group:nth-child(n+4){
    margin-top: 20px;
}

.profile__group:nth-child(3n+3){
    border-right: none;
}

.profile__param, .profile__value{
    display: block;
    transition: color .4s ease-out .1s;
}

.profile__param{
    text-transform: uppercase;
}

.profile__value{
    font-size: 30px;
    color: #7B1FA2;
    font-weight: 700;
}

.profile__socials{
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile__social{
    border: 2px solid currentColor;
    color: #7B1FA2;
    border-radius: 50%;
    transition: color .4s ease-out .3s;

    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    position: relative;
}

.profile__social-icon{
    width: 18px;
    height: 18px;
    display: block;
    fill: currentColor;
}

.profile__social-name{
    position: absolute;
    left: -9999px;
}

/*
* demo styles
*/


body{
    margin: 0;
    -webkit-overflow-scrolling: touch;
    background-color: #673AB7;
}

.page{
    min-height: 100vh;
    display: flex;
}

.page__container{
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}