@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

div {
    white-space: pre-wrap;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 400;
    background-color: #074f6f;
}

.wrapper {
    max-width: 700px;
    width: 100%;
    margin: 50px auto;
}

.question {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 2em;
}

.question .question-headline {
    font-weight: 700;
    border-bottom: 2px solid #ddd;
    font-size: 1.5em;
    color: #000;
}

.question .question-answers {
    margin-top: 1em;
    color: #222;
}

.question .question-answers .answer + .answer {
    margin-top: .5em;
}

.question .question-answers .answer input {
    display: inline-block;
    margin-right: 1em;
}

.question .question-answers .answer label {
    cursor: pointer;
}

.result {
    margin-bottom: 2em;
    font-size: 1.2em;
    background-color: #3498db;
    border-radius: 10px;
    padding: 10px 20px;
    display: none;
}

.btn-check {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    border-radius: 10px;
    border: 0;
    cursor: pointer;
    font-size: 1.5em;
}

.btn-check:hover {
    background-color: #0f6c36;
}

#timer {
    position: fixed;
    left: 0;
    top : 0;
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #d1d1d1;
    letter-spacing: -1px;
}

#timer span {
    font-size: 60px;
    color: #d9d9d9;
    margin: 0 3px 0 15px;
}

#timer span:first-child {
    margin-left: 0;
}

