body {
    color: #fff;
    background: #949c4e;
    background: linear-gradient(
            115deg,
            rgba(86, 216, 228, 1) 10%,
            rgba(159, 1, 234, 1) 90%
    );
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}


body::before {
    content: '';
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background: #c0392b;
    /* IE Fallback */
    background: rgba(52, 73, 94, 0.8);
    width: 100%;
    height: 100%;
}
nav {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 360px;
    margin: -78px 0 100px -180px;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    /* Sub Menu */
}
nav ul li a {
    display: block;
    background: #3498db;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}
nav ul li a:hover {
    background: #2980b9;
}
nav ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
}
nav ul li a .badge {
    display: inline-block;
    background: #fff;
    /* IE Fallback */
    background: rgba(255, 255, 255, 0.2);
    padding: 3px 7px;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
}
nav ul li ul li a {
    background: #444;
    border-left: 4px solid transparent;
    padding: 10px 20px;
}
nav ul li ul li a:hover {
    background: #333;
    border-left: 4px solid #3498db;
}
/* Float Right/Left */
.right {
    float: right;
}
.left {
    float: left;
}
