body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/*Landing page */

#welcome-page {
    background-image: url("https://images.pexels.com/photos/34676/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    color: white !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 100vh;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.name-highlight {
    color: #04aab0;
    animation: fadeIn 2.7s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.buttonWrapper {
    text-align: center;
    margin-top: 14px;
    color: #fff;
}

.button {
    padding: 7px 14px;
    border: 2px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 1.3em;
    transition: all 0.7s;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-weight: 450;
}

.button:hover {
    background-color: #04aab0;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-out;
}


.pages {
    min-height: 100vh;
}

/*Navbar */

nav .navbar-brand {
    font-weight: 700;
}

#brand {
    color: #444;
}

#brand:hover {
    color: #04aab0;
    transition: all 0.5s ease-out;
}

nav .navbar-nav li a {
    color: #fff;
    font-weight: 700;
    font-size: 1.5em;
}

/*Skills graph*/

.paragraphs {
    font-size: 1.2em;
    text-decoration: none;

    text-align: center;
}

.mainHeadings {
    text-align: center;
    font-size: 2.7em;
    padding-top: 86px;
}

.subHeadings {
    font-size: 1.8em;
    text-align: center;
    margin: 5px;
}

.fab {
    display: block !important;
}

.frontEndIcons {
    font-size: 7em;
    text-align: center;
    margin-bottom: 17px;
}

.frontEndElements {
    font-size: 1.4em;

    text-align: center;
}

.icons {
    padding: 10px;
    width: 100%;
}

.line {
    height: 27px;
    min-width: 50%;
    margin-top: 20px;
    line-height: 25px;
    font-size: 1.5em;
    color: white;
    padding: 0 0 0 2px;
    position: relative;
    margin-bottom: 97px;
}

.line:before {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    height: 27px;
    top: 0;
    z-index: -2;
    background-color: #d3d3d3;
}

.line:after {
    content: "";
    background-color: #333;
    height: 27px;
    transition: 0.8s;
    display: block;
    width: 100%;
    animation: animate 1 7s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.line1:after {
    max-width: 95%;
}

.line2:after {
    max-width: 70%;
}

@keyframes animate {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

/*Footer*/

footer {
    color: #f7f7f7;
    bottom: 0;
    text-align: center;
    font-weight: 700;
}