<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="/category/list" method="get">
    <input type="submit" value="Category">
</form>

<form action="/subcategory/list" method="get">
    <input type="submit" value="SubCategory">
</form>


<form action="/topic/list" method="get">
    <input type="submit" value="Topic">
</form>

<form action="/question/list" method="get">
    <input type="submit" value="Question">
</form>

<form action="/test/list" method="get">
    <input type="submit" value="Test">
</form>

<form action="/user/userList" method="get">
    <input type="submit" value="User">
</form>

<form action="/history/history" method="get">
    <input type="submit" value="History">
</form>
<input type="button" onclick="location.href='http://localhost:8080/user/profile'" value="Go Back To Profile">

</body>
</html>