<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<head>
    <meta charset="UTF-8">
    <title>Add Answer</title>
</head>
<form method="post">

    <label>
        Question : <select name="question">
        <option
             th:each="question : ${questions}"
              th:value="${question.question}"
            th:text="${question.question}">
        </option>
    </select>
    </label>




    <br/>
        <label>Answer #1</label>
    <br/>
    <label>
        Answer text <input name="answer1" type="text" placeholder="Input Answer Text">
    </label>
    <label>
        Description  <input name="description1" type="text" placeholder="Input Description">
    </label>
    <label>
        Is Correct <input name="isCorrect1" type="checkbox"  value="true">
    </label>
    <br/>

        <br/>
            <label>Answer #2</label>
        <br/>
        <label>
            Answer text <input name="answer2" type="text" placeholder="Input Answer Text">
        </label>
        <label>
            Description  <input name="description2" type="text" placeholder="Input Description">
        </label>
        <label>
            Is Correct <input name="isCorrect2" type="checkbox"  value="true">
        </label>
        <br/>

            <br/>
                <label>Answer #3</label>
            <br/>
            <label>
                Answer text <input name="answer3" type="text" placeholder="Input Answer Text">
            </label>
            <label>
                Description  <input name="description3" type="text" placeholder="Input Description">
            </label>
            <label>
                Is Correct <input name="isCorrect3" type="checkbox"  value="true">
            </label>
            <br/>


                <br/>
                    <label>Answer #4</label>
                <br/>
                <label>
                    Answer text <input name="answer4" type="text" placeholder="Input Answer Text">
                </label>
                <label>
                    Description  <input name="description4" type="text" placeholder="Input Description">
                </label>
                <label>
                    Is Correct <input name="isCorrect4" type="checkbox"  value="true">
                </label>
                <br/>






    <input type="submit" value="Submit">
    <input type="button"  onclick="location.href='http://localhost:8080/question/add'" value="Go To Answer"  >
</form>
</body>
</html>