<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Answer</title>
</head>
<body>
<form method="post">

<label>
        Answers :
        <select name="answerList">
            <option th:each="answer : ${answers}"
                    th:value="${answer.answer}"
                    th:text="${answer.answer}"></option>
        </select>
    </label>

 <label>
        Questions :
        <select name="questionList">
            <option th:each="question : ${questions}"
                    th:value="${question.question}"
                    th:text="${question.question}"></option>
            <option name="empty" selected="selected">empty</option>
        </select>

    </label>
    </br>
  <label>
          Answer text <input name="answer" type="text" placeholder="Input Answer Text">
      </label>
      <label>
          Description  <input name="description" type="text" placeholder="Input Description">
      </label>
      <label>
          Is Correct <input name="isCorrect" type="checkbox"  value="true">
      </label>
      </br>
      <label>
      <input type="submit" value="Update Answer"/>
</label>

</form>
</body>
</html>