<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form th:action="@{/category/update}" method="post">
     Type: <input name="type" type="text" placeholder="Enter Category Name">
    <br/>
    <input type="submit" value="Update Category">
    <input type="hidden" th:value="${category.id}" name="categoryId">

</form>
</body>
</html>