<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Category</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form method="post">
    <label>
        Type: <input name="type" type="text" placeholder="Enter Category Name">
    </label>
    <br/>
    <input type="submit" value="Save Category">

</form>
<input type="button" onclick="location.href='http://localhost:8080/category/list'" value="Back to Category List">
</body>
</html>