<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Future History</title>
</head>
<body>

 <form >
           <table>
               <thead>
               <tr>
                   <th>Test Name</th>
                   <th>Start Time</th>
               </tr>
               </thead>
               <tbody>
               <tr th:each="test : ${testList}">
                   <td><span th:text="${test.test_name}">Test Name</span> </td>
               </tr>
                <tr th:each="history : ${historyList}">
                    <td><span th:text="${history.startTime}"></span></td>
                 </tr>
               </tbody>
           </table>

       </form>
    <input type="button"  onclick="location.href='http://localhost:8080/user/profile'" value="Back to profile"  >

</body>
</html>