<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Future History</title>
     <link rel="stylesheet" type="text/css" th:href="@{/css/tableStyle.css}">
</head>
<body>
<h3>Future History</h3>
 <form >
           <table>
               <thead>
               <tr>
                   <th>Test Name</th>
                   <th>Start Time</th>
               </tr>
               </thead>
               <tbody>
                        <tr th:each="history : ${historyList}">
                             <td> <span th:text="${history.testDto.getTest_name()}">Test Name</span></td>
                             <td><span th:text="${history.startTime}">Start Time</span></td>
                        </tr>

               </tbody>
           </table>

       </form>
    <input type="button"  onclick="location.href='http://localhost:8080/user/profile'" value="Back to profile"  >





</body>
</html>