<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form action="/history/history/past" method="get">
    <input type="submit" value="Past history">
</form>

<form action="/history/future" method="get">
    <input type="submit" value="future history">
</form>

<form action="/history/history/inprogress" method="get">
    <input type="submit" value="Inprogress history">
</form>


<form action="/history/history/all" method="get">
    <input type="submit" value="All history">
</form>

<form action="/history/history/search" method="get">
    <input type="submit" value="Search">
</form>

</body>
</html>