<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<form class="divide">
<form action="/history/history/past" method="get">
    <input type="submit" value="Past history">
</form>

<form action="/history/history/future" method="get">
    <input type="submit" value="Future history">
</form>

<form action="/history/history/inprogress" method="get">
    <input type="submit" value="Inprogress history">
</form>


<form action="/history/history/all" method="get">
    <input type="submit" value="All history">
</form>

<form action="/history/history/search" method="get">
    <input type="submit" value="Search">
</form>
</form>

<input type="button" onclick="location.href='http://localhost:8080/user/admin'" value="Back to Control Page">
</body>
</html>