<html xmlns:th="http://www.thymeleaf.org">

<style>

.message{
color: #ffb7eb;
}
.message a {
color: lightgrey;
}
.message2  {
color: lightgrey;

}
.message3{
color: lightgrey;
}

 .active {
     padding-top: 20px;
     color: #BDBDBD;
 }

</style>

<head>
    <title>Sign in</title>
    <link rel="stylesheet" th:href="@{/css/registrationLoginStyle.css}"/>
</head>

<body>

<div class="active">
    <span th:if="${message != null }">Profile Is Activated</span>
</div>

<div th:if="${param.error}" class="message2">
            Invalid username and password.
        </div>

        <div th:if="${param.logout}" class="message3">
            You have been logged out.
        </div>

<div class="login-page">

    <div class="form">

        <form class="login-form" method="post">
            <h1>Login</h1>
            <input type="email" placeholder="email" name="username"/>
            <input type="password" placeholder="password" name="password"/>
            <button>Sign in</button>
            <p class="message">Not registered? <a th:href="@{/registration}">Create an account</a></p>
        </form>

    </div>
</div>
</body>
</html>