<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Organize Test</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">

    </script>

</head>
<body>

<table>
       <form th:action="@{'/test/selectUser/'+${id}}" method="post">
           <input type="text" placeholder="Search User" name="search">

           <input type="submit" name="submit" value="Search"/>
       </form>
        <br/>

        <span>
            <label for="startTime">Choose a time for your appointment:</label>

        <input  type="datetime-local" id="startTime" value="" >
        </span>



    </br>
    <thead>
    <tr>
        <th>Email</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Nickname</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${userList}">
        <td><span th:text="${user.email}">Email</span></td>
        <td><span th:text="${user.name}">Name</span></td>
        <td><span th:text="${user.surname}">Surname</span></td>
        <td><span th:text="${user.nickname}">Nickname</span></td>
        <td><input type="hidden" th:value="${user.id}" name="userId"/></td>
        <td><input type="checkbox" name="userSelect" th:value="${user.id}"/></td>
    </tr>


    </tbody>

</table>

<span>
        <button type="button" name="editOptions" id="editOptions">Organize Test</button>

        </span>
<input type="button" onclick="location.href='http://localhost:8080/test/organize'" value="Back to Test List">


</body>
<script th:src="@{/js/organizeTest.js}"></script>
</html>