<!DOCTYPE html>

<style>
    .txtAnswer {
        position: relative;
        width: 90px;
        overflow: hidden;
        left: 0;
    }

    .txtAnswer label {
        position: absolute;
        left: 5px;
    }

</style>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
        <meta charset="UTF-8">
    <title>Add a Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</head>
<body>


<form method="post">

    <label>
        Topic : <select name="topic">
        <option th:each="topic : ${topics}"
                th:value="${topic.topicName}"
                th:text="${topic.topicName}">
        </option>
    </select>
    </label>
    <br/>
    <label>
        Question body <input name="questionText" type="text">
    </label>
    <br/>
    <label>
        Level : <select name="level">
        <option name="beginner">beginner</option>
        <option name="intermediate">intermediate</option>
        <option name="advanced">advanced</option>
    </select>
    </label>
    <br/>
    <label>
        Points <input name="points" type="text">
    </label>
    <br/>
    <label>
        Correct answer count <input name="correct_answer_count" type="text">
    </label>
    <br/>

    <div id="questionBlock">
        <button type="button" id="btnAddAnswer" class="txtAnswer" onclick="addAnswer()">Add answer</button>
    </div>

    <input type="submit" value="Submit">
    <br/>
</form>
</body>

<script>
    var answerCount = 1;

    function addAnswer() {

        var questionBlock = $('#questionBlock');

        questionBlock.append($('<br/>'));
        var answerField = $('<input>').attr('type', 'text').attr('class', 'txtAnswer').attr('name', 'answer');

        var labelHTML = '<label> Answer #' + answerCount + ': ';

        //adding the answer body
        questionBlock.append(labelHTML, answerField);
        questionBlock.append('</label>');

        //adding the answer description body

        var desriptionField = $('<input>').attr('type', 'text').attr('class', 'txtAnswer').attr('name', 'description');
        labelHTML = '<label> Description: ';
        questionBlock.append(labelHTML, desriptionField);
        questionBlock.append('</label>');

        //adding the checkbox for whether the answer is correct or not
        var answerCheckBox = $('<input>').attr('type', 'checkbox').attr('name', 'isTrue');
        labelHTML = '<label> Is correct: ';
        questionBlock.append(labelHTML, answerCheckBox);
        questionBlock.append('</label>');
        answerCount++;

    }
</script>

</html>