<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/question/list}">
    <div class="navigation">
        <label>
            Category : <select id="categories" onchange="loadSubCategoriesDropDown()"></select>
        </label>
    </div>

    <br/>
    <label>
        Question body
        </br>
        <textarea rows="10" cols="50" id="questionText" type="text">
    </textarea>
    </label>
    <br/>
    <label>
        Level : <select id="level">
        <option name="beginner" value="beginner">Beginner</option>
        <option name="intermediate" value="intermediate">Intermediate</option>
        <option name="advanced" value="advanced">Advanced</option>
    </select>
    </label>
    <br/>
    <label>
        Points <input name="points" type="text" id="points">
    </label>
    <br/>

    <br/>

    <div id="answerBlock">
        <button type="button" id="btnAddAnswer" class="txtAnswer" onclick="addAnswer()">Add answer</button>
        <button type="button" id="btnRemoveAnswer" class="txtAnswer" onclick="removeAnswer()">Remove answer</button>
    </div>

    <button type="submit" value="button" onclick="UpdateQuestion()">Update</button>


    <br/>
</form>
</body>

<script th:src="@{/js/questionUpdate.js}"></script>
</html>