<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<form method="post">


    <select name="topic">
        <option th:each="topic : ${topics}"
                th:value="${topic.topicName}"
                th:text="${topic.topicName}">
        </option>
    </select>

    <input name="questionText" type="text">
    <br/>
    <select name="level">
        <option name="BEGINNER">Beginner</option>
        <option name="INTERMEDIATE">Intermediate</option>
        <option name="ADVANCED">Advanced</option>
    </select>
    <br/>
    <input name="points" type="text">
    <input name="correct_answer_count" type="text">

</form>

</body>
</html>