<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Question</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>


<form method="post">

    <label>
        Topic : <select name="topic">
            <option th:each="topic : ${topics}"
                    th:value="${topic.topicName}"
                    th:text="${topic.topicName}">
            </option>
        </select>
    </label>
    <br/>
    <label>
        Question body <input name="questionText" type="text">
    </label>
    <br/>
    <label>
        Level : <select name="level">
        <option name="beginner">beginner</option>
        <option name="intermediate">intermediate</option>
        <option name="advanced">advanced</option>
    </select>
    </label>
    <br/>
    <label>
        Points <input name="points" type="text">
    </label>
    <br/>
    <label>
        Correct answer count <input name="correct_answer_count" type="text">
    </label>
    <br/>
    <input type="submit" value="Add Question">
    <br/>
</form>

</body>
</html>