<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a test</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/testManagment.css}">
</head>

<style>
    body {
        background: #89d0d7;
    }
</style>
<body>

<form th:action="@{/test/organize}" method="get">

    <h3>Generate Random Test</h3>
    </br>
    <label>
        Test Name: <input id="testName"/>
    </label>
    </br>
    <label>
        Test Description: <input id="testDescription"/>
    </label>
    </br>
    <label>
        Test Questions Number: <input id="questionNumber"/>
    </label>
    </br>
    <label>
        Test Duration : <input id="testDuration"/>
    </label>
    <label>
        Level : <select id="level">
        <option name="beginner" value="beginner">Beginner</option>
        <option name="intermediate" value="intermediate">Intermediate</option>
        <option name="advanced" value="advanced">Advanced</option>
    </select>
    </label>
    </br>

    <div class="navigation">
        <label>
            Categories: <select id="categories" onchange="loadSubCategories()"></select>
        </label>
        <button type="submit" onclick="createTest()" class="submit">Create a test</button>
    </div>

</form>


<script th:src="@{/js/randomTestGenerator.js}"></script>

</body>
</html>