<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>History</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminStyle.css}">

</head>
<body>

<form action="/history/history/byemail" method="post">
    <label>
        User email: <input name="user" type="text" placeholder="Enter user">
    </label>
    <br/>
    <input type="submit" value="Search">
</form>

<form>
    <input type="button" onclick="location.href='http://localhost:8080/history/history/'" value="Back to history">
</form>

</body>
</html>