<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update SubCategory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="post">

    <label>
        Select Category :
        <select name="categoryList">
            <option th:each="category : ${categories}"
                    th:value="${category.type}"
                    th:text="${category.type}"></option>
            <option name="empty" selected="selected">empty</option>
        </select>
    </label>
    <br/>
    <label>
      Select SubCategory :
        <select name="subCategoryList">
            <option th:each="subCategory : ${subCategories}"
                    th:value="${subCategory.typeName}"
                    th:text="${subCategory.typeName}"></option>
        </select>
    </label>


    <br/>
    <label>
        SubCategory : <input name="typename" type="text" placeholder="Enter SubCategory name">
    </label>
    <br/>
    <input type="submit" value="Update SubCategory">
</form>
</body>
</html>