<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update SubCategory</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form th:action="@{/subcategory/update}" method="post">

    <label>
        Select Category :
        <select name="categoryList">
            <option name="empty" selected="selected">empty</option>
            <option th:each="category : ${categories}"
                    th:value="${category.type}"
                    th:text="${category.type}"></option>
        </select>
    </label>
    <br/>

    <label>
        SubCategory : <input name="typename" type="text" th:value="${subCategory.typeName}">
           <br/>
        <input type="submit" value="Update SubCategory">
        <input type="hidden" th:value="${subCategory.id}" name="id">
    </label>
</form>
</body>
</html>