<style>

    .navigation {
        float: left;
        width: 100%;
        height: 100%;
    }

    .subCategoryNavigation {
        padding-left: 1em;
    }

    .topicNavigation {
        padding-left: 2em;
    }

    .questionSpace {

        width: 100%;
        padding-left: 50%;
    }

    .submit {
        float: bottom;
    }


</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a test</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
</head>


<body>


<label>
    Test Title: <input id="test_name"/>
</label>
<br/>
<label>
    Test Description: <input id="test_description"/>
</label>
<br/>
<label>
    Test duration: <input id="duration"/>
</label>
<br/>

<br/>

<div class="navigation">
    <label>
        Categories: <select id="categories" onchange="loadSubCategories()"></select>
    </label>
    <button type="button" onclick="createTest()" class="submit">Create a test</button>
</div>

<script>
    let $selectDropDown = $('#categories');
    $.get('/category', function (categories) {
        loadCategories(categories);
    });
    function loadCategories(categories) {
        loadSelectOptionsCategories($selectDropDown, categories);
    }
    function loadSubCategories() {
        $('#subCategoryDiv').remove();
        let categoryId = $selectDropDown.val();
        let $subCategoryDiv = $('<Div/>').attr('id', 'subCategoryDiv').attr('class', 'subCategoryNavigation');
        $('.navigation').append($subCategoryDiv);
        $.get('/subcategory?categoryId=' + categoryId, function (subCategories) {
            $subCategoryDiv.empty();
            subCategories.forEach(function (subCategory) {
                let subCategoryLabel = $('<label/>').html(subCategory.typeName);
                let subCategoryCheckBox = $('<input/>').attr({
                    type: 'checkBox'
                }).attr('subCategoryId', subCategory.id)
                    .on('click', function () {
                        if ($(this).is(":checked")) {
                            let subCategoryId = subCategoryCheckBox.attr('subCategoryId');
                            let $topicDiv = $('<Div/>').attr('id', 'topicsDiv').attr('class', 'topicNavigation');
                            $.get('/topic?subCategoryId=' + subCategoryId, function (topics) {
                                console.log(topics);
                                if (!($.isEmptyObject(topics))) {
                                    topics.forEach(function (topic) {
                                        let topicLabel = $('<label/>').html(topic.topicName);
                                        let topicCheckBox = $('<input/>').attr({
                                            type: 'checkbox'
                                        }).attr('topicId', topic.id);
                                        $topicDiv.prepend('<br/>');
                                        $topicDiv.prepend(topicLabel.prepend(topicCheckBox));
                                        topicCheckBox.on('click', function () {
                                            if ($(this).is(':checked')) {
                                                let topicId = $(this).attr('topicId');
                                                let $questionsDiv = $('<div/>').attr('class', 'questionSpace');
                                                $questionsDiv.append($('<br/>')).append($('<label/>').html(topic.topicName));
                                                $.get('/question?topicId=' + topicId, function (questions) {
                                                    console.log(questions);
                                                    if (!($.isEmptyObject(questions))) {
                                                        questions.forEach(function (question) {
                                                            console.log(question);
                                                            let $questionDiv = $('<div/>').attr('topicId', question.topicId).attr('class', 'questionStyle');
                                                            let $questionLabel = $('<label/>').html(question.question);
                                                            let $questionCheckBox = $('<input/>').attr({
                                                                type: 'checkbox'
                                                            }).attr('questionId', question.id).attr('class', 'questionInputClass').attr('topicId', question.topicId).
                                                            attr('questionId', question.id);
                                                            $questionLabel.prepend($questionCheckBox);
                                                            $questionDiv.append($questionLabel);
                                                            $questionsDiv.append($questionDiv);
                                                        });
                                                        $topicDiv.append($questionsDiv);
                                                    } else {
                                                        alert(topic.topicName + ' is empty');
                                                        topicCheckBox.prop('checked', false);
                                                    }
                                                });
                                            } else {
                                                let selector = $("[class = '" + 'questionSpace' + "']");
                                                let $questionDivToRemove = $topicDiv.find(selector);
                                                $questionDivToRemove.remove();
                                            }
                                        })
                                    });
                                } else {
                                    alert('topic is empty');
                                    alert(subCategory.typeName + ' is empty');
                                    subCategoryCheckBox.prop('checked', false);
                                }
                            });
                            subCategoryLabel.append($topicDiv);
                        } else {
                            let $topicDiv = $('#topicsDiv');
                            $topicDiv.remove();
                        }
                    });
                $subCategoryDiv.prepend($('<br/>'));
                $subCategoryDiv.prepend(subCategoryLabel.prepend(subCategoryCheckBox));
            })
        })
    }
    function loadSelectOptionsCategories($select, categories) {
        // $select.children().remove();
        categories.forEach(function (category) {
            let $option = $('<option/>', {
                value: category.id,
                text: category.type
            });
            $select.append($option);
        });
        $select.val([]);
    }
    function createTest() {
        let selector = $('input:checked');
        // let questionIdList = $("input[questionId]").find(selector)
        //#subCategoryDiv .topicNavigation .questionSpace
        let questionIdList = ($('#subCategoryDiv').find('.topicNavigation').find('.questionSpace').find('.questionStyle').find('.questionInputClass')).map(function () {
            let id = parseInt($(this).attr('questionId'));
            return id;
        }).toArray();
        let duration = parseInt($('#duration').val());
        let test_name = $('#test_name').val();
        let description = $('#test_description').val();
        let test = JSON.stringify({
            duration: duration,
            test_name: test_name,
            description: description,
            questionIds: questionIdList
        });
        JSON.stringify(test);
        console.log(test);
        $.ajax({
            type: "POST",
            data: test,
            url: "/test/add",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: (function () {
                alert('Question was successfully created');
            })
        })
    }
</script>

</body>
</html>