<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Score Page</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/scorePgeStyle.css}">

</head>
<body>

<!--Background -->

<div class="wrapper">
  <div class="monitor">
    <div class="mscreen">
      <div class="inner"></div>
    </div>
    <div class="mstand"></div>
  </div>
  <div class="laptop">
    <div class="screen"></div>
    <div class="body"></div>
  </div>
  <div class="keyboard"></div>
</div>

<!-- Logic -->


</body>
</html>