<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>

</style>


<head>
    <meta charset="UTF-8">
    <title>Loading Test By Topic</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/testByTopicStyle.css}">

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

</head>
<body>
<form>

    <table>
        <div class="test">
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="test : ${testList}">
                <td><span th:text="${test.test_name}">Name</span></td>
                <td><span th:text="${test.description}">Description</span></td>
                <td><span th:text="${test.duration}">Duration</span></td>

                <td>

                    <a th:href="@{'/test/transfer/'+${topicId}+'/'+${test.id}}">Go To Test</a>
                </td>

            </tr>
            </tbody>
        </div>
    </table>


</form>

<!-- BACKGROUND -->


<div class="container">
	<div class="circle-container">
		<div class="window"></div>
		<div class="monitor">
			<div class="screen">
				<ul>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ul>
			</div>
		</div>
		<div class="girl-body"></div>
		<div class="girl-head"></div>
		<div class="neck"></div>

	</div>
</div>


</body>

<script>
setTimeout(function() {
	$(".girl-head").addClass('girl-head-anim');
},10000)
</script>

</html>