<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Solve a test</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" th:href="@{/css/testSolution.css}">
</head>
<body onLoad="window.history.forward(1)">


<div id="wrapper" class="wrapper">

    <div id="timer">
        <span id="hours"></span>hours<span id="minutes"></span>minutes<span id="seconds"></span>seconds
    </div>
    <div class='result'></div>
</div>
<input type="hidden" th:value="${testId}" id="testId">
</body>


<script th:src="@{/js/testSolution.js}"></script>

</html>