<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add the test question</title>
    <h1>Questions</h1>
</head>
<body>
<form method="post">

<label>
    <select name="Questions">
        <option th:each="question : ${questionList}"
                th:value="${question.question}"
                th:text="${question.question}">
        </option>
    </select>
</label>
    </br>
    <input type="submit" value="Submit" >
    <input type="button"  onclick="location.href='add'" value="Go to Test"  >


</form>
</body>
</html>