<html lang="en" xmlns:th="http://www.thymeleaf.org"
>

<style>
.menu-section{
float:left;
width:1000px;
overflow-y: auto;
height: 100px;
}

</style>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/testMenuStyle.css}">
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

</head>
<body>


<div class="menu-section">
  <div class="menu-toggle">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
  </div>
  <nav class="navig">
		<ul role="navigation" class="hidden">
			<li class="sub-menu" >
                           <a href='#category'>
                            <div class='fa fa-gear'></div>
                              Category:
                            <div class='fa fa-caret-down right' ></div>
                            </a>

                                 <ul  id='categoryMenu'>

                                  <button name="editOptions" id="editOptions">Select </button>
                                 </ul>


                       </li>
			            <li class="sub-menu" >
                           <a href='#subcategory'>
                            <div class='fa fa-gear'></div>
                              SubCategory:
                            <div class='fa fa-caret-down right' ></div>
                            </a>

                                 <ul  id='subcategoryMenu'>
                                 </ul>

                       </li>

			<li class="sub-menu" >
               <a href='#topic'>
                <div class='fa fa-gear'></div>
                  Topics:
                <div class='fa fa-caret-down right' ></div>
                </a>

                     <ul  id='topicMenu'>
                     </ul>

           </li>
		</ul>
	</nav>
</div>
<script>

   $(".menu-toggle").on('click', function() {
     $(this).toggleClass("on");
     $('.menu-section').toggleClass("on");
     $("nav ul").toggleClass('hidden');
   });

      $('.sub-menu ul').hide();
        $(".sub-menu a").click(function () {
            $(this).parent(".sub-menu").children("ul").slideToggle("100");
            $(this).find(".right").toggleClass("fa-caret-up fa-caret-down");
        });


 let topics;

 $.get('/topic/all', function (categories) {
        topics=categories;
    });

 let subcategories;

    $.get('/category', function (categories) {
           loadCategories(categories);
       });



     $.get('/subcategory', function (categories) {
               subcategories=categories;
           });

     let categoryChecked=[];
     let subcategoryChecked=[];

    function loadCategories(array) {
           let main = $("#categoryMenu");


          for(let i=0;i<array.length;i++) {
            main.
            append($("<li>")
            .append("<a href='#" + array[i].id + "'><span>" + array[i].type + "</span> <input type='checkbox' name='cat' id='"+i+"' ></a>")
            .append()
            .append("</li>"));
            }
       }

        $().ready(function() {
                $('#editOptions').click(function() {
                    categoryChecked.length=0;
                    $.each($("input[name='cat']:checked"), function(){

                        categoryChecked.push($(this).attr("id"));
                   });

                let main = $("#subcategoryMenu");
                main.empty();
                main.append($("<button name='edit' id='edit'>Select </button>"));
                for(let i=0;i<subcategories.length;i++) {
                    for(let j=0;j<categoryChecked.length;j++){

                       // console.log(categoryChecked[j]+1);

                        if(parseInt(categoryChecked[j])+1==subcategories[i].categoryId){
                           main
                             .append($("<li>")
                             .append("<a href='#" + subcategories[i].id + "'><span>" + subcategories[i].typeName + "</span> <input type='checkbox' name='sub' id='"+i+"' ></a>")
                             .append()
                             .append("</li>"));

                    }
                }
              }

                $('#edit').click(function() {
                   subcategoryChecked.length=0;
                   $.each($("input[name='sub']:checked"), function(){

                     subcategoryChecked.push($(this).attr("id"));

                   });

                   let topic = $("#topicMenu");

                   topic.empty();
                         for(let i=0;i<topics.length;i++) {
                             for(let j=0;j<subcategoryChecked.length;j++){
                              if(parseInt(subcategoryChecked[j])+1==topics[i].subCategoryId){
                                 topic
                                   .append($("<li>")
                                   .append("<a href='/test/menu/" + topics[i].id + "'><span>" + topics[i].topicName + "</span></a>")
                                   .append()
                                   .append("</li>"));

                               }
                        }
                   }

            });
        });
});




</script>
</body>
</html>