<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a test</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/testManagment.css}">

</head>

<style>
    body {
        background: #89d0d7;
    }
</style>

<body>
    <form>

    <label>
        Test Title: <input id="test_name"/>
    </label>
    <br/>
    <label>
        Test Description: <textarea id="test_description" rows="3" cols="10"></textarea>
    </label>
    <br/>
    <label>
        Test duration: <input id="duration"/>
    </label>
    <br/>

    <br/>

    <div class="navigation">
        <label>
            Categories: <select id="categories" onchange="loadSubCategories()"></select>
        </label>
        <button type="submit" onclick="createTest()" class="submit">Create a test</button>
    </div>
        <input type="button"  onclick="location.href='http://localhost:8080/test/list'" value="Back to Test List">

    </form>


    <script th:src="@{/js/test.js}"></script>

</body>
</html>