<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Topic</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="post">
    <label>
        SubCategory :
        <select name="subcategoryList">
            <option th:each="subCategory : ${subcategories}"
                    th:value="${subCategory.typeName}"
                    th:text="${subCategory.typeName}"></option>
        </select>
    </label>
    <br/>
    <label>
        Topic : <input name="topicName" type="text" placeholder="Enter Topic name">
    </label>
    <br/>
    <input type="submit" value="Add Topic">
</form>
</body>
</html>