<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>

    .message {
        padding-top: 20px;
        color: #BDBDBD;
    }

</style>


<head>

    <meta charset="UTF-8">
    <title>User Registration</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/registrationLoginStyle.css}">
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
</head>
<body>
<form method="post" action="/user/register">

    <div class="login-page">
        <h1>Register</h1>
        <div class="form">

            <div class="message">
                <span th:if="${message != null }">Email Already Exists</span>
            </div>
            <div class="message">
                <span th:if="${message2 != null }">Check Your Email</span>
            </div>

            <label>
                <input th:type="text" name="name" placeholder="First Name" required  th:value="${name}"/>
            </label>
            <br/>
            <label>
                <input th:type="text" name="name2" placeholder="Last Name" required  th:value="${surname}"/>
            </label>
            <br/>
            <label>
                <input id='email' th:type="email" name="email" placeholder="Email" required  th:value="${email}"/>
            </label>
            <br/>
            <label>
                <input th:type="password" placeholder="Password" name="password" pattern="^\S{6,}$"
                       onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Must have at least 6 characters' : ''); if(this.checkValidity()) form.password2.pattern = this.value;"
                       required>
            </label>
            <br/>
            <label>
                <input th:type="password" placeholder="Confirm Password" name="password2" pattern="^\S{6,}$"
                       onchange="this.setCustomValidity(this.validity.patternMismatch ? 'Please enter the same Password as above' : '');"
                       required>
            </label>
            <br/>
            <label>
                <input th:type="text" name="nickname" placeholder="Nickname" required th:value="${nickname}"/>
            </label>
            <br/>

            <div id="magic">

            </div>
        </div>
    </div>
</form>
<form method="get" action="/user/resend">
<div id="resend">

</div>
</form>
</body>

<script>

    let $magic=$('#magic');
    let $resend=$("#resend");
    let $submit = $('<button/>').attr('class', 'btn-check').attr('onclick','submit').html('Register').attr('id', 'submitId');
    let $activationButton = $('<button />').attr('class', 'btn-check').attr('onclick', "location.href='http://localhost:8080/user/resend'").attr('value', 'Resend Email').html('Resend Email').attr('id', 'scoreId');

    $activationButton.prop('disabled', true);
    $activationButton.hide();

    $magic.append($submit);
    $resend.append($activationButton);

    $(document).ready(function() {
        if ($('#email').val() != '') {
            $('#submitId').remove();
            $('#scoreId').prop('disabled', false).show();
        }

    });

</script>
</html>