<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
       <form method="post">
           <table>
               <thead>
               <tr>
                   <th>Email</th>
                   <th>Name</th>
                   <th>Surname</th>
                   <th>Role</th>
               </tr>
               </thead>
               <tbody>
               <tr th:each="user : ${userList}">
                   <td><span th:text="${user.email}">Email</span> </td>
                   <td><span th:text="${user.name}">Name</span> </td>
                   <td><span th:text="${user.surname}">Surname</span> </td>
                    <td><span th:text="${user.role}">Role</span></td>
                    <td><a th:href="@{'/user/'+${user.id}}">edit</a></td>

               </tr>
               </tbody>
           </table>

       </form>
</body>
</html>